  <form class="comment_form">
  <textarea rows="6" name="body" placeholder="comment">
  </textarea>
  <input type="hidden" name="sentence_id" value="<%=id%>">

  <input type="submit" value="Post Comment">
  </form>


