<div class="dotted">
  <form>
  <textarea rows="6" name="comment[name]" placeholder="comment">
</textarea>
</div>
<input id="submit" type="submit" value="Post Comment">
<a data-id="<%= id %>" class="submit_link" href="#">
  Submit</a>
</form>


