  <form class="comment_form">
  <textarea data-comment="body" rows="6" name="body" placeholder="What do you think?">
  </textarea>
  <input type="hidden" name="sentence_id" value="<%=id%>">

  <input type="submit" value="Post Comment">
  </form>


