<ul>
  <% students.each do |student|  %>
    <li>
      <img class="student_image img-circle" src="
         <%= student.photo %>">
      </img>
     <%= link_to "#{student.name}",  student %>
     </li>
  <% end %>
</ul>
