
<% current_user.enrolled_courses.each do |course| %>
<div class="card">
<h3><%= course.name %></h3>
<% course.stories.each do |story| %>

<%= link_to "#{story.title}", story %>
<% end %>
</div>
<% end %>
