<ul>
    <% students.each do |student|  %>
      <% if student.comments.last %>
      <li><%= student.name %>. Latest comment: <%= student.comments.last.body %> on <%= student.comments.last.created_at %></li>
      <% end %>
    <% end %>
</ul>
