<li class="notification">
  <div class="notificationenvelope" data-note="yes"><i class="fa fa-envelope"></i></div>
  <ul style="display:none" data-noteitems="yes">
    <% notifications.each do |notification| %>
      <% if notification.noteable_type == "comment" %>
        <li><a href="" ><%= notification.applies_to_user? %> Commented on <%= notification.is_about? %></a></li>
      <% else %>
        <li><a href="" ><%= notification.applies_to_user? %> Enrolled in <%= notification.is_about? %></li></a>
      <% end %>
    <% end %>
  </ul>
</li>
