<% if !user_logged_in? %>
  <i class="fa fa-book" id="splash"></i>
<% elsif current_user.is_teacher? %>
  <h1>Teacher View</h1>
  <%= link_to 'Delete account', user_path(current_user), method: 'delete' %>
  <%= render partial: '/users/teachers/dashboard' %>
<% else %>
  <h1>Student View</h1>
    <%= link_to 'Delete account', user_path(current_user), method: 'delete' %>
  <%= render partial: '/users/students/student_dashboard' %>
<% end %>
