<% if user_logged_in? %>
	<% if current_user.is_teacher? %>
		<h1>Student View</h1>
	  <%= link_to 'Delete account', user_path(current_user), method: 'delete' %>
	  <%= render partial: '/users/teachers/dashboard' %>
	<% else %>
	  <h1>Student View</h1>
	  <%= render partial: '/users/students/student_dashboard' %>
	<% end %>
<% end %>
<i class="fa fa-book" id="splash"></i>
