<% if !user_logged_in? %>
<h1 id="headline">Bibliotate</h1>
<% elsif current_user.is_teacher? %>
  <%= render partial: '/users/teachers/dashboard' %>
<% else %>
  <%= render partial: '/users/students/student_dashboard' %>
<% end %>
