<% if !user_logged_in? %>
<h1 id="headline">Bibliotate</h1>
	<section id="splash_section" >
  	<%= image_tag("students.jpg",:class => "splashimage")%>
  </section>
<% elsif current_user.is_teacher? %>
  <%= render partial: '/users/teachers/dashboard' %>
<% else %>
  <%= render partial: '/users/students/student_dashboard' %>
<% end %>
