<div data-card="activeusers" data-story="<%=@story.id%>" class="card">
	<h1>Frequent Contributors:</h1>
	<ul>
		<% @story.active_users.each do |user, number| %>
			<li><img class="student_image" src="<%=user.photo%>"> <%= user.name %> has commented <%= number %> times</li>
		<% end %>
	</ul>
</div>