<div data-card="commentsfeed" data-story="<%=@story.id%>" class="card comment_card" id="comments_card">
	<h1>Recent Comments:</h1>
	<ul>
		<% @story.newest_comments.each do |comment| %>
		Comment on: sentence <%= comment.sentence.story_sentence  %>:
		<%= render partial: '/comments/render_comment', locals: {comment: comment} %>
		<% end %>
	</ul>
</div>