<div data-card="commentsfeed" data-story="<%=@story.id%>" class="card comment_card" id="comments_card">
	<h1>Recent Comments:</h1>
	<ul>
		<% @story.newest_comments.each do |comment| %>
		<li><%= render partial: '/comments/render_comment', locals: {comment: comment} %>
		 on: 
		 <a href="#<%= comment.sentence.story_sentence%>">
		 	sentence <%= comment.sentence.story_sentence %>
		</a>.<br></li>
		<% end %>
	</ul>
</div>