<h2>Ask a Question</h2>

<%= form_for @question, data: {create: "bar"} do |f| %>
  <%= f.text_field :title, placeholder: "Title", data: {field: "title"} %><br>
  <%= f.text_area :content, placeholder: "Content", size: "60x12", data: {field: "content"} %><br>
  <%= f.submit %>
<% end %>
