<h1 id="story_title"><%= @story.title %></h1>
<section id="story_info">
	<span id="author"><%= @story.author %></span>
	<span id="divider">|</span>
	<span id="date">1845</span>
</section>

    <% @story.paragraphs.each do |paragraph| %>
      <p class="paragraph"><%= render partial: 'paragraph', locals: {paragraph: paragraph} %></p>
    <% end %>

<%= render partial: 'comments_feed', locals: {story: @story} %>
