<nav>
	<ul>
		<li>
			Stuff
		</li>
		<li>
			Stuff
		</li>
		<li>
			Stuff
		</li>
		<li>
			Stuff
		</li>
		<li>
			Stuff
		</li>
	</ul>
</nav>

<div id="feed"></div>

<div class="titlebox" data-story-id="<%= @story.id %>">
	<h1>
		<%= @story.title %>
	</h1>
	<h2>
		<%= @story.author %>
	</h2>

</div>

<article>
	<% @story.paragraphs.each do |paragraph| %>
	  <p class="paragraph"><%= render partial: 'paragraph', locals: {paragraph: paragraph} %></p>
	<% end %>
</article>