<div class="titlebox">
	<h1>
		<%= @story.title %>
	</h1>
	<h2>
		<%= @story.author %>
	</h2>

</div>

<article>
	<% @story.paragraphs.each do |paragraph| %>
	  <p class="paragraph"><%= render partial: 'paragraph', locals: {paragraph: paragraph} %></p>
	<% end %>
</article>