/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-image: url('lightpaperfibers.png');
    background-repeat: repeat;
}

header {
  height: 45px;
}

#top {
  margin-top: 0px;
  /*width: 100%;*/

}

#top_outer {
  background: #7A6A53;
  border: 1px solid #7A6A53;

}

#top_inner {
  border: 1px solid #948C75;
}

#logo {
  height: 40px;
  display: block;
  float: left;
}

#logo a {
  margin: 10px 0 0 10px;
  text-decoration: none;
  font-size: 1.6em;
  color: white;
  font-family: 'Oleo Script', cursive;
}

#logo i {
  margin: 10px 0 0;
}

#login_box {
  height: 40px;
  display: block;
  float: right;
}

#login_box a {
  text-decoration: none;
  color: white;
}

#login_box a:hover {
  text-decoration: underline;
  /*This needs a different color*/
  color: yellow;
}

#login_box span {
  font-size: .8em;
  margin: 0 5px 20px 0;
}

#login_box i {
  margin: 17px 10px 0 2px;
  font-size: 1.1em;
}

.border {
  border: 1px solid #ECF0F1;
  margin: 3px;
}

.commented {
  border-bottom: 1px red dashed;
}

.outer {
  margin-top: 12px;
}

#story_title {
  font-family: 'Droid Serif', serif;
  color: #7A6A53;
  font-size: 3em;
  font-style: georgia, serif;
  text-align: center;
  margin: 50px 0 45px;
}

main {
  width: 70%;
  display: block;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 50px;
}

.sentence {
  color: #7A6A53;
  line-height: 2em;
  text-decoration: none;
  font-size: 1.25em;
  font-style: georgia, serif;
}

.sentence:hover {
  background-color: yellow;
}


.popup {
  /*position: absolute;*/
  /*display: none;*/
  border: 1px solid rgba(0,0,0,0.15);
  /*width: 50%;*/
  background-color: white;
  /*left: 25%;*/
  overflow-y: scroll;
  position: fixed;
  top: 7%;
  left: 80%;
  width: 20%;
  height: 800px;

}

.popup textarea {
  width: 95%;
  border: none;
  border-style: none;
  resize: none;
  outline: none;
  overflow: auto;
  border: 1px solid rgba(0,0,0,0.1);
  display: block;
  margin: auto;
  margin-top: 15px;
}

.comment_form input {
  margin-left: 40%;
}

.submit_link {
  color: #7A6A53;
  font-size: 1em;
  text-decoration: none;
  font-style: georgia, serif;
  display: block;
  margin-top: 7px;
  text-align: center;
}

.submit_link:hover {
  background-color: grey;

}


.card {
  width: 30%;
  height: 400px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #888888;
  padding: 1%;
  overflow-y: scroll;
}

.profile {
  height: 600px;
  margin-left: 30%;
}

.card ul {
  list-style: none;
}

.card h1 {
  text-align: center;
}
.card h3 {
  text-align: center;
}

.student_image {
  max-width: 50px;
  max-height: 50px;
}

.profile_pic {
  margin-left: 20%;
  max-width: 250px;
  max-height: 250px;
}
