
<% if flash[:messages].class == Array %>
  <% flash[:messages].each do |message|%>
      <p id="message"><%=  message  %></p>
    <% end %>
  <% else %>
      <p id="message"><%=  flash[:messages]  %></p>
<% end %>
  <% flash[:messages] = "" %>
