<%= if @user.role == "teacher" %>
  <%= if @user.notifications.count(status: 1)%>












<section id="top" class="container" class="container-fluid">
  <section class="border outer" id="top_outer">
    <section class="border inner" id="top_inner">
      <header>
        <section id="logo">
          <a href="/">
            <span><i class="fa fa-book"></i>Bibliotate</span>
          </a>
        </section>
        <section id="login_box">
          <a href="">
            <span>Login With <i class="fa fa-google-plus"></i></span>
          </a>
        </section>
      </header>
    </section>
  </section>
</section>

