<!DOCTYPE html>
<html>
<head>
  <title>Bibliotate</title>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oleo+Script:400,700' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<section id="top" class="container" class="container-fluid">
  <section class="border outer" id="top_outer">
    <section class="border inner" id="top_inner">
      <header>
        <section id="logo">
          <a href="/">
            <span><i class="fa fa-book"></i>Bibliotate</span>
          </a>
        </section>
        <section id="login_box">
          <a href="">
            <span>Login With <i class="fa fa-google-plus"></i></span>
          </a>
        </section>
      </header>
    </section>
  </section>
</section>


<section id="container" class="container-fluid">
  <section class="border" id="outer">
    <section class="border" id="inner">
      <main>
<%= yield %>
      </main>
    </section>
  </section>
</section>

</body>
</html>
